<div class="table-wrapper">
  <table>
    <caption class="visually-hidden">Purchase bill items</caption>
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Batch</th>
        <th scope="col" class="numeric">Standard Cost</th>
        <th scope="col" class="numeric">Standard Price</th>
        <th scope="col" class="numeric">Margin</th>
        <th scope="col" class="numeric">Qty</th>
        <th scope="col" class="numeric">Free Qty</th>
        <th scope="col" class="numeric">Discount %</th>
        <th scope="col" class="numeric">Total Cost</th>
        <th scope="col" class="numeric">Total Selling</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading()) {
        <tr>
          <td class="table-state" colspan="10">
            <app-spinner size="small" label="Loading items" />
            <span>Loading items...</span>
          </td>
        </tr>
      } @else {
        @for (item of items(); track item.id) {
          <tr>
            <td>{{ item.itemName }}</td>
            <td [title]="item.batchLocationCode">{{ item.batchLocationName }}</td>
            <td class="numeric">{{ item.standardCost | number: '1.2-2' }}</td>
            <td class="numeric">{{ item.standardPrice | number: '1.2-2' }}</td>
            <td class="numeric">{{ item.margin | number: '1.2-2' }}</td>
            <td class="numeric">{{ item.quantity | number }}</td>
            <td class="numeric">{{ item.freeQuantity | number }}</td>
            <td class="numeric">{{ item.discountPercent | number: '1.2-2' }}</td>
            <td class="numeric">{{ item.totalCost | number: '1.2-2' }}</td>
            <td class="numeric">{{ item.totalSelling | number: '1.2-2' }}</td>
          </tr>
        } @empty {
          <tr>
            <td class="table-state" colspan="10">No items yet. Use the form above to add the first item.</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
